.banner{
    height: 60vh;
    position: relative;
    background:url(https://tr-images.condecdn.net/image/2D1G7vKgJVq/crop/2040/f/cottage-in-pembrokeshire-001-airbnb-oct20-pr.jpg) center center ;
    margin-top: 10px;
    
}
.banner_info{
    background-color:black ;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    width: 200px;
}
.banner_info>button{
    background-color:red ;
    color: seashell;
    margin-top: 20px;
    text-transform: inherit;
    font-weight: 600;
}
.banner_info > button:hover{
    background-color: white;
    color: red;
}
.banner_info>h5{
    margin-top: 10px;
}

.banner_searchButton{
    background-color:white!important;
    font-weight: 900 imp !important;
    text-transform: inherit !important;
    color: #ff7779;
}
.banner_searchButton:hover{
    background-color:red;
}
.banner_search{
    display: flex;
    flex-direction:column;
}